
<div class="row">
    <div *ngFor="let dato of datos; let i = index" class="col-md-4">
        <app-producto (agregoAlCarrito)="mostrarAlerta()" [dato]="dato"></app-producto>
    </div>
</div>


<div class="modal fade" id="modalAlerta" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Mensaje</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Se agrego al carrito correctamente.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>